* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pixelify Sans", serif;
}

body {
  background-image: url("./Images/normal_vpet20thUSA_2vpet_6backgroundscan.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-size: 2rem;
}

.digiform {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input,
button {
  padding: 5px;
}

.generate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.generate button {
  padding: 10px;
  border-radius: 5px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
