* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pixelify Sans", serif;
}

body {
  background-image: url("./Images/normal_vpet20thUSA_2vpet_6backgroundscan.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
